<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RaceControl </title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- Bootstrap Core CSS -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @*<link href="css/sb-admin.css" rel="stylesheet">*@
    <link href="~/Content/css/sb-admin.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    @*<link href="css/plugins/morris.css" rel="stylesheet">*@
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    @*<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/Img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/css/my-style.css" rel="stylesheet" />
   
</head>
<body>
   

    <div id="wrapper">

        @*MENU ARRIBA*@
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><p> <font color="white">Race</font><font color="red">Control</font></p></a>
            </div>

            @*MENU DERECHA*@
            <ul class="nav navbar-right top-nav">
           
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @RaceControl.Extensions.UsersLogin.NombreUsuario() <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("PerfilRaceControl", "Account")"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</a>
                            }
                           
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="@Url.Action("Index","Torneo")">
                            <img src="~/Content/Img/img_torneos32.png" />
                            Torneos
                        </a>
                    </li>
                    <li>
                       
                        <a href="@Url.Action("Index","Piloto")">
                            <img src="~/Content/Img/img_pilotos48.png"  width="32px" height="32px" />
                        Pilotos
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("IndexOperador", "Account")">
                            <img src="~/Content/Img/img_usuario48.png" width="32px" height="32px" />
                            Operadores
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/Img/img_pilotos48.png" width="32px" height="32px" />
                            Reportes
                        </a>
                    </li>
                    
                </ul>
            </div>

        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - RaceControl</p>
                </footer>
            </div>
            <!-- /.container-fluid -->
        </div>

    </div>


    <!-- /#page-wrapper -->
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - RaceControl</p>
            </footer>
        </div>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("Scripts", required: false)

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.es.min.js"></script>
   

    @*<script>

        $(document).ready(

            function () {

          
            $('#fecha').datepicker({
                format: "dd/mm/yyyy",
              
              
                autoclose: true,
                language: "es",
              
            });

           

        });

    </script>*@

 

</body>
</html>
