@model RaceControl.Models.Torneo
@{
    ViewBag.Title = "GetOne";
}

<div class="row">
    <div class="col-lg-4">
        <h2>Categorias</h2>
        <div class="form-group">
            <button id="btnNuevoCategoria" type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#myModal"
                    @*onclick="location.href='@Url.Action("Create", "Categorias", Model)'">*@
                    onclick="clickBtn(this,true)">
                Nuevo Categoria
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Pilotos</th>
                        <th>-</th>
                    </tr>
                   
                </thead>
                <tbody>
@foreach (var item in Model.Categoria)
{
                     <tr>
                        <td>@item.nombre</td>

                         <td>@item.Categoria_Piloto.Count()</td>

                         <td>
                             <button id="btnNuevoCategoria" type="button" class="btn btn-info"
                                     data-toggle="modal" data-target="#myModal" data-id= @item.idCategoria
                                     onclick="clickBtn(this,false,@Model.idTorneo)">
                                 Editar
                             </button>

                             <button id="btnAgrPiloto" type="button" class="btn btn-success"
                                     data-toggle="modal" data-target="#myModal"
                                     onclick="location.href='@Url.Action("AgregarPiloto", "Categorias", new { idCategoria = item.idCategoria})'">
                                 Agregar Piloto
                             </button>

                       
                         </td>
                       
                         @*<td>
                             @Html.ActionLink("Editar", "Edit", new { id = item.idCategoria }) |    
                              @Html.ActionLink("Agregar piloto", "AddPiloto", new { id = item.idCategoria })
                         </td>*@                   
                    </tr>
}
                             
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-8">
        <h2>Fechas</h2>
        <div class="form-group">
            <button type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#myModal" 
                    onclick="location.href='@Url.Action("Create", "Categoria")'">
                Nuevo Fecha
            </button>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Pilotos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Carrera)
                    {
                        <tr>
                            <td>@item.nombre</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="resultado">

        </div>
    </div>
</div>

<script type="text/javascript">

    function clickBtn(element, nuevo) {
        alert('Ingreso');
        var url;

        if (nuevo) url = "@Url.Action("Create", "Categorias",new { idTorneo = Model.idTorneo}) "
        else {

           var idCategoria = element.getAttribute('data-id');

        
           url = "@Url.Action("Edit", "Categorias",new { id = "-1" }) "
            url = url.replace("-1", idCategoria)
           
         }


    //alert(url);
    // var id = $(this).attr('data-id'); // the id that's given to each button in the list
    $.get(url, function (data) {
        //alert($('#new-client-containe').html);
        $('#resultado').html('');
        $('#resultado').html(data);
    });
    }





</script>


 