@model RaceControl.Models.Torneo
@{
    ViewBag.Title = "GetOne";
}


@*console.error(message); //gives you the red errormessage
console.log(message); //gives the default message
console.warn(message); //gives the warn message with the exclamation mark in front of it
console.info(message); //gives an info message with an 'i' in front of the message*@

<div class="row">

    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-dashboard"></i> <strong>Torneo:</strong> @Model.nombre
        </li>
    </ol>


    <div class="col-lg-5">
        <h1 class="page-header">
            Categoría
        </h1>
        <div class="form-group">
            <button id="btnNuevoCategoria" type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#myModal"
                    @*onclick="location.href='@Url.Action("Create", "Categorias", Model)'">*@
                    onclick="clickBtn(this,true)">
                Nuevo Categoria
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Pilotos</th>
                        <th>-</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Categoria)
                    {
                        <tr>
                            <td>@item.nombre</td>

                            <td>@item.Categoria_Piloto.Count()</td>

                            <td>
                                <button id="btnNuevoCategoria" type="button" class="btn btn-info"
                                        data-toggle="modal" data-target="#myModal" data-id=@item.idCategoria
                                        onclick="clickBtn(this,false,@Model.idTorneo)">
                                    Editar
                                </button>

                                <button id="btnAgrPiloto" type="button" class="btn btn-success"
                                        data-toggle="modal" data-target="#myModal"
                                        onclick="location.href='@Url.Action("AgregarPiloto", "Categorias", new { idCategoria = item.idCategoria})'">
                                    Agregar Piloto
                                </button>


                            </td>

                            @*<td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.idCategoria }) |
                                     @Html.ActionLink("Agregar piloto", "AddPiloto", new { id = item.idCategoria })
                                </td>*@
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-7">
        <h1 class="page-header">
            Fechas
        </h1>
        <div class="form-group">
            <button type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#modalNvoCarrera"
                    onclick="clickCarrera(this, true)">
                @*onclick="location.href='@Url.Action("Create", "Categoria")'">*@
                Nueva Carrera
            </button>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Autodromo</th>
                        <th>Nombre</th>
                        <th>Editar</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Carrera)
                    {
                        <tr>
                            <td>@item.fecha.Value.ToString("dd/MM/yyy")</td>
                            <td>@item.Autodromo.nombre</td>
                            <td>@item.nombre</td>
                            <td>
                                <button id="btnEditarCarrera" type="button" class="btn btn-info"
                                        data-toggle="modal" data-target="#modalNvoCarrera" data-id=@item.idCarrera
                                        onclick="clickCarrera(this,false)">

                                    Editar
                                </button>

                                <button id="btnTecnica" type="button" class="btn btn-success"
                                        onclick="location.href='@Url.Action("Tecnica", "Carrera", new { idCarrera = item.idCarrera})'">
                                   Tecnica
                                </button>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


@*############## MODAL ###################*@

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="resultado">

        </div>
    </div>
</div>



<div class="modal fade" id="modalNvoCarrera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content" id="resultadoCarrera">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Fecha</h4>
            </div>

            

            <div class="modal-body">
                @using (Html.BeginForm("Create","Carrera"))
            {
                    @Html.AntiForgeryToken()

                    <div class="form">

                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> @Model.nombre
                            </li>
                        </ol>

                        @Html.Hidden("idTorneo",Model.idTorneo)

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            <h3>Nombre</h3>
                            <input class="form-control text-box single-line" id="nombre" name="nombre" value="" type="text">
                        </div>
                            
                        <h3>Fecha</h3>
                        <div class="input-group date col-lg-3" >
                           
                            <input type="text" id="fecha" class="form-control text-box single-line" name="fecha"><span class="input-group-addon" id="icon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>

                      
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                }


            </div>*@
        </div>




    </div>
</div>

<div class="modal fade" id="modalEditCarrera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content" id="resultado">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Fecha</h4>
            </div>



            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Carrera"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form">

                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> @Model.nombre
                            </li>
                        </ol>

                        @Html.Hidden("idTorneo", Model.idTorneo)

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            <h3>Nombre</h3>
                            <input class="form-control text-box single-line" id="nombre" name="nombre" value="" type="text">
                        </div>

                        <h3>Fecha</h3>
                        <div class="input-group date col-lg-3">

                            <input type="text" id="fecha" class="form-control text-box single-line" name="fecha"><span class="input-group-addon" id="icon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                }


            </div>
        </div>




    </div>
</div>

<script type="text/javascript">







    function clickBtn(element, nuevo) {
       

        console.log("input clickBtn"); //gives the default message

        //alert('Ingreso');
        var url;

        if (nuevo) url = "@Url.Action("Create", "Categorias",new { idTorneo = Model.idTorneo}) "
        else {

            var idCategoria = element.getAttribute('data-id');


            url = "@Url.Action("Edit", "Categorias",new { id = "-1" }) "
            url = url.replace("-1", idCategoria)

        }
        console.log("[]"); //gives the default message
        $('#resultado').html('Cargando...');
        //alert(url);
        // var id = $(this).attr('data-id'); // the id that's given to each button in the list
        $.get(url, function (data) {
            //alert($('#new-client-containe').html);
            $('#resultado').html('');

            $('#resultado').html(data);
        });
    }



    function clickCarrera(element, nuevo) {
        var tag = " clickCarrera ";
        var url;

        console.log("input to clickCarrera")
       
        if (nuevo) url = "@Url.Action("Create", "Carrera",new { idTorneo = Model.idTorneo}) ";
        else {

            var idCarrera = element.getAttribute('data-id');


            url = "@Url.Action("Edit", "Carrera",new { id = "-1" }) ";
            url = url.replace("-1", idCarrera);

        }

        console.log(tag.concat("Cargando..."));
        $('#resultadoCarrera').html("Cargando...");
        //alert(url);
        // var id = $(this).attr('data-id'); // the id that's given to each button in the list
        $.get(url, function (data) {
            //alert($('#new-client-containe').html);
            console.log(tag.concat("Data obtenido"));
            console.log(tag.concat(data));
            $('#resultadoCarrera').html(data);

            $('#fecha').datepicker({
                format: "dd/mm/yyyy",


                autoclose: true,
                language: "es",

            });
            console.log(tag.concat("fin"));
        });
    }

  



</script>




