
@{
    ViewBag.Title = "AgregarPiloto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading ">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="~/Content/Img/img_torneos48.png" />

                    </div>
                    <div class="col-xs-6 text-left">
                        <h4>@ViewBag.Categoria.Torneo.nombre</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading ">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="~/Content/Img/imb_categorias48.png" />

                    </div>
                    <div class="col-xs-6 text-left">
                        <h4>@ViewBag.Categoria.nombre</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <div id="alertForm">
        @Html.Raw(TempData["alert"])
    </div>

    <div class="row">
        <div class="col-md-8">
            <input id="buscar" class="form-control">
            <p class="help-block"> Ingrese el nombre, apellido o DNI del piloto </p>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default" onclick="buscar(@ViewBag.Categoria.idCategoria)">Buscar</button>
        </div>
    </div>

    <br />
    <table class="table">
        <tr>
            <th><h4>DNI</h4></th>
            <th><h4>Nombre</h4></th>
            <th><h4>Apellido</h4></th>
            <th><h4></h4></th>
        </tr>
        @foreach (var item in ViewBag.Pilotos)
        {
            <tr>
                <td>
                    @item.dni
                </td>
                <td>
                    @item.nombre
                </td>
                <td>
                    @item.apellido
                </td>
                <td>

                    @using (Html.BeginForm("AgregarPiloto", "Categorias", FormMethod.Post,
                                                                    new { enctype = "multipart/form-data" }))
                    {
                        @Html.Hidden("idCategoria", (Object)ViewBag.Categoria.idCategoria)
                        @Html.Hidden("dni", (object)item.dni)
                        <input type="submit" value="Agregar" class="btn btn-success" />
                    }

                </td>
            </tr>

        }
    </table>

<button id="btnNuevoCategoria" type="button" class="btn btn-default"
        data-toggle="modal" data-target="#myModal"
        onclick="location.href='@Url.Action("GetOne", "Torneo", new { id = ViewBag.Categoria.Torneo.idTorneo })'"> 
    Volver
</button>

    <script type="text/javascript">

        function buscar(idCategoria)
        {
            var buscar = $('#buscar').val();
            window.location.href = "/Categorias/Buscar?buscar=" + buscar + "&idCategoria=" + idCategoria;
        }

    </script>