@model RaceControl.Models.Categoria

@{
    ViewBag.Title = "CreateEdit";
    Layout = null;

    string accion = Model == null ? "Create" : "Edit";
    string titulo = Model == null ? "Nueva Categoría" : "Editar Categoría";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@titulo</h4>
</div>

<div class="modal-body">
    @using (Html.BeginForm(accion, "Categorias", FormMethod.Post, new { @id = "formCategoria" }))
    {
        @Html.AntiForgeryToken()


        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <strong>Torneo:</strong> @ViewBag.Torneo.nombre
            </li>
        </ol>

        <div class="form">

            <div id="alertModal"></div>

            @Html.Hidden("idTorneo", (int)@ViewBag.Torneo.idTorneo)

            @if (Model != null)
            {
                @Html.Hidden("idCategoria", Model.idCategoria);
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <h3>Nombre</h3>
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <h3>Descripción</h3>
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    }

</div>

<script>

        bootstrap_alert = function () { }

        bootstrap_alert.warning = function (message) {
            $('#alertModal').html('<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }


        $("#formCategoria").on("submit", function () {

            console.log("submit");

            if (!$('#nombre').val()) {
                bootstrap_alert.warning('<strong>¡Campo obligatorio!</strong> Por favor ingrese el nombre de la carrera');
                return false;
            }

          

        });




</script>




