
@model RaceControl.Models.Neumatico
@{
    Layout = null;
    string accion = Model == null ? "CreateNeumatico" : "EditNeumatico";
    string titulo = Model == null ? "Nuevo neumatico" : "Editar neumatico";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@titulo</h4>
</div>


<div class="modal-body">

    @using (Html.BeginForm(accion, "Carrera", FormMethod.Post, new { @id = "formModal" }))
    {
        <div id="alertModal"></div>

        <div class="form-group">
            @Html.LabelFor(m => m.numNeumatico,"Numero de neumático", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.numNeumatico, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.nuevo, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.nuevo, new { @class = "checkbox" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    }


</div>