
@model RaceControl.Models.Neumatico
@{
    Layout = null;
    string accion = Model == null ? "CreateNeumatico" : "EditNeumatico";
    string titulo = Model == null ? "Nuevo neumatico" : "Editar neumatico";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@titulo</h4>
</div>


<div class="modal-body">

    @using (Html.BeginForm(accion, "Carrera", FormMethod.Post, new { @id = "formModal", @class = "form" }))
    {

        <div id="alertModal"></div>

        <div class="form-group">
            @Html.LabelFor(m => m.numNeumatico,"Numero: ", new { @class = "col-md-2 control-label" })

            @if (Model != null)
            {
                @Html.TextBoxFor(m => m.numNeumatico, new { @class = "form-control", @disabled = "" })
            }
            else
            {
                @Html.TextBoxFor(m => m.numNeumatico, new { @class = "form-control" })
            }

        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="nuevo">Nuevo:</label>
        
                @Html.CheckBoxFor(m => m.nuevo, new { @class = "checkbox" })
           
        </div>

        if (Model == null)
        {
            @Html.Hidden("idTecnica", (int)@ViewBag.idTecnica)
        }
        else
        {
            <row>
                <img src="~/Content/Img/img_usuario48.png" data-toggle="tooltip" data-placement="bottom" title="Usuario que creo la observación" /> @Model.Usuario.nombre @Model.Usuario.apellido

            </row>
        }

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"
                    onclick="location.href='@Url.Action("EliminarNeumatico", "Carrera", new { numNeumatico = Model.numNeumatico })'">
             Eliminar
            </button>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    }


    <script>

        bootstrap_alert = function () { }

        bootstrap_alert.warning = function (message) {
            $('#alertModal').html('<div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }

        $("#formModal").on("submit", function () {

            if (!$.isNumeric($("#numNeumatico").val())) {
                bootstrap_alert.warning('<strong>¡El campo tiene que ser numerico!</strong>');
                return false;
            }

        });

    </script>

</div>