@model RaceControl.Models.Revision

@{

}


<h1> @Model.Elem_Revision.nombre</h1>



<ul class="nav nav-pills">
    <li class="nav active"><a href="#observaciones" data-toggle="tab">Observaciones</a></li>
    <li class="nav"><a href="#precinto" data-toggle="tab">Precintos</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane fade in active" id="observaciones">
        <br />
        <div class="form-group">

            <button id="btnNuevaObs" type="button" class="btn btn-info"
                    data-toggle="modal" data-target="#myModal"
                    onclick="clickBtnObervacion(this, true)">
                Nueva obervación
            </button>

        </div>





        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-6">Obervación</th>
                        <th class="col-sm-4">Carrera</th>
                        <th class="col-sm-2"></th>


                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Observacion)
                    {

                    <tr>
                        <td> <h4>@item.descripcion</h4> </td>
                        <td> <h4>@item.Revision.Tecnica.Carrera.nombre</h4> </td>
                        <td align="center">

                            <button id="btnEditObs" type="button" class="btn btn-default"
                                    onclick="clickBtnObervacion(this, false)"
                                    data-id=@item.idObservacion
                                    data-toggle="modal" data-target="#myModal">
                                <img src="~/Content/Img/img_edit32.png" />
                            </button>


                            @if (item.ok == false)
                            {
                            <button id="btnSelectCategoria" type="button" class="btn btn-default"
                                    onclick="location.href='@Url.Action("ConfirmarObs", "Carrera", new { idObservacion = item.idObservacion , idRevisionOk = Model.idRevision })'">

                                <img src="~/Content/Img/img_check48.png" height="32" width="32">
                            </button>
                            }
                            else
                            {
                            <img src="~/Content/Img/img_checkok48.png" height="32" width="32">

                            }

                        </td>

                    </tr>


                    }

                </tbody>
            </table>
        </div>


    </div>


    <div class="tab-pane fade" id="precinto">
        <br />
        <div class="form-group">

            <button id="btnNuevaObs" type="button" class="btn btn-info"
                    data-toggle="modal" data-target="#myModal"
                    onclick="clickBtnPrecinto(this, true)">
                Nueva precinto
            </button>

        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-4">Carrera</th>
                        <th class="col-sm-3">Fecha y hora</th>
                        <th class="col-sm-3">Precinto</th>
                        <th class="col-sm-2">Eliminar</th>



                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Precinto)
                    {

                        <tr>
                            <td> <h4>@item.Revision.Tecnica.Carrera.nombre</h4> </td>
                            <td> <h4>@item.fecha</h4> </td>
                            <td> <h4>@item.precinto1</h4> </td>

                            <td align="center">

                                <button id="btnEditObs" type="button" class="btn btn-default"
                                        onclick="clickBtnPrecinto(this, false)"
                                        data-id=@item.idPrecinto
                                        data-toggle="modal" data-target="#myModal">
                                    <img src="~/Content/Img/img_edit32.png" />
                                </button>

                               
                                <button id="btnEditObs" type="button" class="btn btn-default"
                                         onclick="location.href='@Url.Action("EliminarPrecinto", "Carrera", new {  })'">
                                    <img src="~/Content/Img/Eliminar32.png" />
                                </button>

                            </td>

                        </tr>


                    }

                </tbody>
            </table>
        </div>



    </div>





</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content" id="resultado">

        </div>

    </div>
</div>

<script>

    function clickBtnObervacion(element, nuevo) {

        var tag = "clickBtnObservacion";
        var url;

        console.log(tag);

        if (nuevo) url = "@Url.Action("CreateObs", "Carrera",new { idRevision = Model.idRevision}) ";
        else {

            var id = element.getAttribute('data-id');

            console.log(id);

            url = "@Url.Action("EditObs", "Carrera",new { idObservacion = "-1" }) ";
            url = url.replace("-1", id);



        }
        $('#resultado').html("Cargando...");
        $.get(url, function (data) {

            console.log(tag.concat("Data obtenido"));

            $('#resultado').html(data);

        });



    }



    function clickBtnPrecinto(element, nuevo) {

        var tag = "clickBtnPrecinto";
        var url;

        console.log(tag);

        if (nuevo) url = "@Url.Action("CreatePrecinto", "Carrera",new { idRevision = Model.idRevision}) ";
        else {

            var id = element.getAttribute('data-id');


            url = "@Url.Action("EditPrecinto", "Carrera",new { idPrecinto = "-1" }) ";
            url = url.replace("-1", id);



        }
        $('#resultado').html("Cargando...");
        $.get(url, function (data) {

            console.log(tag.concat("Data obtenido"));

            $('#resultado').html(data);

        });



    }

</script>
