
@model RaceControl.Models.TecnicaTmp
@{
   
}

<div class="row" id="seleccionado">

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading ">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="~/Content/Img/img_torneos48.png" />

                    </div>
                    <div class="col-xs-6 text-left">
                        <h4>@Model.carrera.Torneo.nombre</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading ">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="~/Content/Img/img_carreras48.png" />

                    </div>
                    <div class="col-xs-6 text-left">
                        <h4>@Model.carrera.nombre</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.categoria != null)
    {
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading ">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="~/Content/Img/imb_categorias48.png" />

                        </div>
                        <div class="col-xs-6 text-left">
                            <h4>@Model.categoria.nombre</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.piloto != null)
    {
       

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading ">
                        <div class="row">
                            <div class="col-xs-3">
                                <img src="~/Content/Img/img_pilotos48.png" />

                            </div>
                            <div class="col-xs-6 text-left">
                                <h4>@Model.piloto.nombre</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



    }
</div>

@if (Model.categoria == null)
{
    <div id="selectCategoria">
        <h3>Seleccione una categoría </h3>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-11">Nombre</th>
                        <th class="col-sm-1">-</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Categorias)
                    {
                        <tr>
                            <td> <h4>@item.nombre</h4> </td>

                            <td align="center">
                                <button id="btnSelectCategoria" type="button" class="btn btn-info"
                                        data-toggle="modal" data-target="#myModal" data-id=@item.idCategoria
                                        onclick="location.href='@Url.Action("Tecnica", "Carrera", new { idCarrera = Model.carrera.idCarrera , idCategoria = item.idCategoria })'">
                                    Seleccionar
                                </button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
}
else if (Model.piloto == null) //tiene seleccionada la categoria debe seleccionar el piloto
{
    <div id="selectPiloto">
        <h3>Seleccione un piloto </h3>
        <div class="form-group input-group">
            <input class="form-control" type="text" id="buscarPiloto">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        onclick="buscarPiloto(@Model.categoria.idCategoria)">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

        <div id="listPiloto">
            @Html.Action("BuscarPiloto", new { idCarrera = Model.carrera.idCarrera, idCategoria = Model.categoria.idCategoria, buscar = "" })
        </div>

    </div>
}
else // muestro los elementos de revision de la tecnica
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-sm-11">Elemento</th>
                    <th class="col-sm-1">-</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.tecnica.Revision)
                {
                    <tr>
                        <td> <h4>@item.Elem_Revision.nombre</h4> </td>

                        <td align="center">
                            <button id="btnSelectCategoria" type="button" class="btn btn-info"
                                    data-toggle="modal" data-target="#myModal" data-id=@item.idRevision
                                    onclick="location.href='@Url.Action("Revision", "Carrera", new { idRevision = item.idRevision  , tabDefault = RaceControl.Models.Constante.defaultTabRevision.TAB_OBSERVACION })'">
                                Revisión
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

}

<script>


    function buscarPiloto(idCategoria) {
        var buscar = $('#buscarPiloto').val();

        var url = "@Html.Raw(Url.Action("BuscarPiloto", new { idCarrera = Model.carrera.idCarrera, idCategoria = "-2", buscar = "-1" }))"

        url = url.replace("-1", buscar);
        url = url.replace("-2", idCategoria);

        $.get(url, function (data) {

            $('#listPiloto').html('');
            $('#listPiloto').html(data);


        });

    }

    @if (Model.categoria != null)
    {

    }



</script>
